/*p{
    color:red
}

h1{
    color:blue
}

main{
    background-color: green;
}

body{
    background-color: black;
}

p{
    color: white;
}

h1{
    color:violet
}


main{
    background-color: yellow;
}

body{
    background-color: white;
}*/
/*
p{
    color: tomato;
}

a{
    color: tomato;
}*/

p{
    background-color: yellow;
    color: red;
}

a{
    color: inherit;
}